<h1 class="display-4 text-primary">Login</h1>
<%= form_with(url: {controller: "students", action: "login"}) do |f| %>
  <p><%= @msg %></p>

<div>
  <label for="login_id">login_id</label>
  <%= f.text_field("login_id") %>
  <label for="pass">password</label>
  <%= f.text_field("pass") %>
</div>
<%= f.submit("Crick") %>
<% end %>