<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>ログインID:</strong>
  <%= @student.login_id %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @student.pass %>
</p>

<p>
  <strong>学科名:</strong>
  <%= @student.gakka_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
