<%= form_with(model: picture) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :保存場所 %>
    <%#<%= form.text_field :place %>
    <%= form.file_field :place %>
  </div>

  <div class="field">
    <%= form.label :日時 %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :行事名 %>
    <%= form.collection_select(:event_id,Event.all,:id,:name) %>
  </div>

  <div class="actions">
    <h1><%= form.submit %></h1>
  </div>
<% end %>
