<h1>全ての写真</h1>

<div class="search">
  <%= form_with(url:{controller:'pictures', action:'allup'}) do |form| %>

    <%= form.collection_select(:search , Student.all, :id, :name) %>

    <%= form.submit "人物検索" %>
  <% end %>
</div>

<div class="flex-4">
  <% @pictures.each do |picture| %>
    <%= link_to image_tag("#{picture.place}") , pictures_showdetail_path(picture_id: "#{picture.place}") %>
  <% end %>
</div>

<div class="over">
  <%= link_to ("/pictures/studenthome") do %>
    <button> 　　ホームに戻る 　　</button>
  <% end %><br>
<div class="over">