<p id="notice"><%= notice %></p>

<h1>写真テーブル</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>投稿した人</th>
      <th>保存場所</th>
      <th>日時</th>
      <th>行事名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.id %></td>
        <td><%= picture.student_id %></td>
        <td><%= picture.place %></td>
        <td><%= picture.date %></td>
        <td><%= picture.event_id %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
