<p id="notice"><%= notice %></p>

<h1>投稿しました！</h1>

<p>
  <%= image_tag "#{@picture.place}" %>
</p>
<%= form_with(model:@picture,url:{controller:'pictures', action:'show'}) do |form| %>

  <%= form.label :映っている人 %>
  <div class="field">
  <% Student.all.each do |f| %>
    <%= form.label f.name %>    
    <%= form.check_box(f.id) %>
  <% end %>
  </div>

<% end %>

<%= link_to ("/pictures/studenthome") do %>
  <button> 　　ホームに戻る 　　</button>
<% end %><br>
<%= link_to ("/pictures/new") do %>
  <button> 　　もう一枚投稿 　　</button>
<% end %><br>
