<p id="notice"><%= notice %></p>

<h1>投稿しました！</h1>

<p>
  <%= image_tag "#{@picture.place}" %>
</p>

<p>
  <strong>日時:</strong>
  <%= @picture.date %>
</p>

<%= link_to ("/pictures/studenthome") do %>
  <button> 　　ホームに戻る 　　</button>
<% end %><br>
<%= link_to ("/pictures/new") do %>
  <button> 　　もう一枚投稿 　　</button>
<% end %><br>
