<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @picture.student_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @picture.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @picture.date %>
</p>

<p>
  <strong>Event:</strong>
  <%= @picture.event_id %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
