<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者:</strong>
  <%= @picture.student_id %>
</p>

<p>
  <strong>保存場所:</strong>
  <%= @picture.place %>
</p>
<%# 下の三行追加 %>
<p>
  <%= image_tag "#{@picture.place}" %>
</p>

<p>
  <strong>日時:</strong>
  <%= @picture.date %>
</p>

<p>
  <strong>行事名:</strong>
  <%= @picture.event_id %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>

<%= :picture.student_id %>