<p id="notice"><%= notice %></p>

<h1>映っている人を選択してください！</h1>

<p>
  <%= image_tag "#{@picture.place}" %>
</p>
<%= form_with(url:{controller:'pictures', action:'tagend'}) do |form| %>

  <%= form.select("student_id1",[[' ----- ',0],['岡 鈴奈',201001],['幸田 春奈',201002],['原 ののか',201003],['細木 栞',201004],['浅田 夕稀乃',202001],['安達 悠也',202003],['糸原 竜之介',202004],['影山 久明',202005],['小原 珠々華',202006],['品川 洸人',202007],['永吉 弘季',202022],['深田 遥大',202008],['福島 悠人',202009],['福田 留美',202010],['堀内 航',202011],['村上 楓佳',202012],['阿食 龍二',202002],['飯塚 宥介',202013],['板倉 啓太',202014],['大森 千慧',202015],['落合 徹',202016],['狩野 啓太',202017],['杉本 美香',202018],['須田 一輝',202019],['須田 健太',202020],['長島 唯斗',202021],['錦織清美',202023],['野々村 和樹',202024],['服部 勇人',202025], ['原 英寿',202026], ['槇原 隼人',202027], ['三島 航心',202028], ['三谷 香世',202029]]) %>
  <%= form.select("student_id2",[[' ----- ',0],['岡 鈴奈',201001],['幸田 春奈',201002],['原 ののか',201003],['細木 栞',201004],['浅田 夕稀乃',202001],['安達 悠也',202003],['糸原 竜之介',202004],['影山 久明',202005],['小原 珠々華',202006],['品川 洸人',202007],['永吉 弘季',202022],['深田 遥大',202008],['福島 悠人',202009],['福田 留美',202010],['堀内 航',202011],['村上 楓佳',202012],['阿食 龍二',202002],['飯塚 宥介',202013],['板倉 啓太',202014],['大森 千慧',202015],['落合 徹',202016],['狩野 啓太',202017],['杉本 美香',202018],['須田 一輝',202019],['須田 健太',202020],['長島 唯斗',202021],['錦織清美',202023],['野々村 和樹',202024],['服部 勇人',202025], ['原 英寿',202026], ['槇原 隼人',202027], ['三島 航心',202028], ['三谷 香世',202029]]) %>
  <%= form.select("student_id3",[[' ----- ',0],['岡 鈴奈',201001],['幸田 春奈',201002],['原 ののか',201003],['細木 栞',201004],['浅田 夕稀乃',202001],['安達 悠也',202003],['糸原 竜之介',202004],['影山 久明',202005],['小原 珠々華',202006],['品川 洸人',202007],['永吉 弘季',202022],['深田 遥大',202008],['福島 悠人',202009],['福田 留美',202010],['堀内 航',202011],['村上 楓佳',202012],['阿食 龍二',202002],['飯塚 宥介',202013],['板倉 啓太',202014],['大森 千慧',202015],['落合 徹',202016],['狩野 啓太',202017],['杉本 美香',202018],['須田 一輝',202019],['須田 健太',202020],['長島 唯斗',202021],['錦織清美',202023],['野々村 和樹',202024],['服部 勇人',202025], ['原 英寿',202026], ['槇原 隼人',202027], ['三島 航心',202028], ['三谷 香世',202029]]) %>
  <%= form.select("student_id4",[[' ----- ',0],['岡 鈴奈',201001],['幸田 春奈',201002],['原 ののか',201003],['細木 栞',201004],['浅田 夕稀乃',202001],['安達 悠也',202003],['糸原 竜之介',202004],['影山 久明',202005],['小原 珠々華',202006],['品川 洸人',202007],['永吉 弘季',202022],['深田 遥大',202008],['福島 悠人',202009],['福田 留美',202010],['堀内 航',202011],['村上 楓佳',202012],['阿食 龍二',202002],['飯塚 宥介',202013],['板倉 啓太',202014],['大森 千慧',202015],['落合 徹',202016],['狩野 啓太',202017],['杉本 美香',202018],['須田 一輝',202019],['須田 健太',202020],['長島 唯斗',202021],['錦織清美',202023],['野々村 和樹',202024],['服部 勇人',202025], ['原 英寿',202026], ['槇原 隼人',202027], ['三島 航心',202028], ['三谷 香世',202029]]) %>
  <%= form.select("student_id5",[[' ----- ',0],['岡 鈴奈',201001],['幸田 春奈',201002],['原 ののか',201003],['細木 栞',201004],['浅田 夕稀乃',202001],['安達 悠也',202003],['糸原 竜之介',202004],['影山 久明',202005],['小原 珠々華',202006],['品川 洸人',202007],['永吉 弘季',202022],['深田 遥大',202008],['福島 悠人',202009],['福田 留美',202010],['堀内 航',202011],['村上 楓佳',202012],['阿食 龍二',202002],['飯塚 宥介',202013],['板倉 啓太',202014],['大森 千慧',202015],['落合 徹',202016],['狩野 啓太',202017],['杉本 美香',202018],['須田 一輝',202019],['須田 健太',202020],['長島 唯斗',202021],['錦織清美',202023],['野々村 和樹',202024],['服部 勇人',202025], ['原 英寿',202026], ['槇原 隼人',202027], ['三島 航心',202028], ['三谷 香世',202029]]) %>
  
  <%= form.submit "送信" %>

<% end %>
