<p id="notice"><%= notice %></p>

<h1>映っている人を選択してください！</h1>

<p>
  <%= image_tag "#{@picture.place}" %>
</p>

<%= form_with(url:{controller:'pictures', action:'tagend'}) do |form| %>

  <div class="tag">
  <% Student.all.each do |f| %>       
   <p>
      <%= form.check_box(f.id) %>  
      <%= form.label f.name %>
   </p>
  <% end %>
  </div>
  

  <%= hidden_field_tag :picture_id, @picture.id %>

  <%= form.submit "送信" %>
<% end %>
