<h1>ホーム画面</h1> 
<%= @a %>

<%= link_to ("/pictures") do %>
  <p><button>マイアップ写真</button></p>
<% end %>
<%= link_to ("/pictures") do %>
  <p><button>写真確認</button></p>
<% end %>
<%= link_to ("/pictures/new") do %>
  <p><button>写真アップ</button></p>
<% end %>


<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% end %>

