<!DOCTYPE html>
<html>
  <head>
    <title>RailsDeviseApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 
    'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application',
     'data-turbolinks-track': 'reload' %>
  </head>
  <style>
    table {
      border-collapse: collapse; /* 隣接するセルの罫線を重ねて表示する */
      color: #00000; /* フォントの色を指定する */
      width: 150px; /* テーブルの横幅を指定する */
      height: 70px; /* テーブルの縦幅を指定する */
    }
    td, th {
      border: 1px solid #000000; /* 境界線を実線で指定する */
      background-color: rgba(0,0,0,0.2);/* 背景色を指定する */
      padding: 2px; /* 要素の余白を指定する(上下左右) */
    }
  </style>
  <header class ="container">
    <% if user_signed_in? %>
      <table align="right">
        <tr>
          <td>id</td>
          <td><%= current_user.student_id %></td>
        </tr>
        <tr>
          <td>名前</td>
          <td><%= Student.find_by(student_id: current_user.student_id).name %></td>
        </tr>
        <tfoot>
          <td colspan="2">
              <div id="logout">
                <% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <% end %>
              </div>
          </td>
        </tfoot>
      </table>  
<<<<<<< HEAD
      <h3>ログイン中</h3>
    <% end %><br>
      <div id="logout">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% end %>
      </div>
      
=======
    <% end %>
>>>>>>> d74c9eac485d7030328bf9cb537cc11f4f7cd7d1
  </header>
  <body>
    <%= yield %>
  </body>
</html>
